<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsr9PGH_LAieDLMLSWZu6iAvnypv4cbPA</string>
	<key>GCM_SENDER_ID</key>
	<string>279948758907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spreePortal</string>
	<key>PROJECT_ID</key>
	<string>spree-bpgc</string>
	<key>STORAGE_BUCKET</key>
	<string>spree-bpgc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279948758907:ios:f7f27474d35295d69737de</string>
	<key>DATABASE_URL</key>
	<string>https://spree-bpgc-default-rtdb.firebaseio.com</string>
</dict>
</plist>